/target

# Local PostgreSQL installation
/scripts/postgres/
/scripts/postgres-data/
/scripts/postgres.log

# Local DuckDB installation
/scripts/duckdb/

# Local ClickHouse installation
/scripts/clickhouse-bin/
/scripts/clickhouse-data/
/scripts/clickhouse.log
/scripts/preprocessed_configs/
/scripts/clickhouse.pid
stderr.log
stdout.log

/testdata/test_gensort_*